//position -> display -> margin -> padding -> contents -> ornaments
/*変数宣言---------------------------------------------------*/
$whitesmoke: #F1F1F1;
$gray: #D8D8D8;
$skyblue: #a0d8ef;
$nav-color: rgba(51,51,51,1);
$c-width: 300px;$p-widht: 0px;

/*共通のスタイル-------------------------------------------------*/
body{
    font-family: YuGothic,'Yu Gothic','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    font-weight: 500;
}
h1,h2,h3,h4,h5{font-weight: 500;}
li{list-style: none;}
label{margin: 0;}

/*継承---------------------------------------------------------*/
.a-style1{
    text-decoration: none;
    color: white;
}
.a-style1:hover{
    cursor: pointer;
    color: $skyblue;
}

/*-------------------------------------------------------------*/
header{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 999;
    border-bottom: 1px solid $gray;
    background: rgba(255,255,255,0.95);
    .top{
        display: flex;
        padding: 0 26px 0 20px;
        .top-title{
            align-self: center;
            font-family: 'Abril Fatface', cursive;
            font-size: 36px;
        }
        .top-menu{
            margin-left: auto;
            align-self: center;
            a{  
                display: block;
                padding: 10px;
                color: black;
                &:hover{cursor: pointer;}
            }
        }
    }
}

/*-------------------------------------------------------------*/
#drower-menu{
    position: fixed;
    top: 58px;
    //right: -($c-width + $p-widht);/* メニューのwidth + padding */
    right: 0;
    padding: $p-widht;
    width: $c-width; /* メニューのwidth */
    height: 100%;
    z-index: 9999;
    overflow: scroll;

    transition: left .5s, right .5s;
    background: rgba(0,0,0,.85);
    .drower-menu-list{
        margin: 0;
        .drower-menu-items{
            margin: 0;
            font-size: 17px;
            font-weight: 500;
            &:first-child a{padding-top: 10px;}
            a{
                @extend .a-style1;
                display: block;
                padding: 10px 0 10px 10px;
                width: 100%;
                &:hover{ 
                    color: white;
                    background: rgba(105,105,105,.6);
                }
                span{padding-right: 6px;}
            }
            .drower-menu-child-list{
                margin: 0;
                .drower-menu-child-items{
                    margin: 0;
                    font-size: 15px;
                    font-weight: 500;
                    a{  
                        @extend .a-style1;
                        padding-left: 40px;
                    }
                }
            }
        }
    }
}

#toggle-menu:checked + #drower-menu{
    right: 0;
}

/*PC限定ナビゲーション*/
nav.navbar{
    display: none;
    background-color: $nav-color;
    .navbar-list{
        display: flex;
        justify-content: space-around;
        margin: 0;
        .navbar-items{
            position: relative;
            display: inline-block;
            align-self: center;
            margin-bottom: 0;
            a{   
                display: block;
                padding: 10px 0;
                width: 100%;
                font-size: 16px;
                @extend .a-style1;
                &:hover{@extend .a-style1:hover}
            }
            span{padding-right: 4px;}
            .navbar-child-list{
                position: absolute;
                left: 0;
                display: none;
                margin: 0;
                width: 160px;
                z-index: 99;
                text-decoration: none;
                background-color: $nav-color;
                .navbar-child-items{
                    margin: 0;
                    border-bottom: 1px solid black;
                    a{
                        display: block;
                        text-align: center;
                    }
                    &:first-child{border-top: 1px solid black;}
                    &:last-child{border-bottom: none;}
                }
            } 
            .navbar-child2{left: -41px;}
            .navbar-child3{left: -30px;}
            .navbar-child4{left: -52px;}
            .navbar-child5{left: -10px;}
            .navbar-child6{left: -42px;}
            &:hover .navbar-child-list{display: block;}
        }
    }    
}

.site-top{
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background-color: #4E454A;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.2) inset;
    .site-top-main{
        margin: 0 16px;
        text-align: center;
        .site-top-title{
            color: white;
            &:before{content: "† ";}
            &:after{content: " †";}
        }
        .site-top-sub{color: silver;}
    }
}

/*メインコンテンツ*/
main{
    .breadcrumb{
        display: flex;
        margin: 0;
        li{ 
            margin: 0;
            padding-bottom: 10px;
            font-weight: 700;
            &::after{
              /*
                font-family: "Font Awesome 5 Free";
                content: '\f0da';
              */
                display: inline;
                content: '>';
                padding: 0 3px;
                color: silver;
            }
            &:last-child::after{
                display: none;
                content: '';
            }
            a{
                text-decoration: none;
                color: black;
                &:hover{@extend .a-style1:hover}
            }
            &:first-child a::before{
                /*
                font-family: "Font Awesome 5 Free";
                content: '\f015';
                */
                font-weight: normal;
                font-size: 1.1em;
                color: #f3948f;
            }
        }
    }
    .article-title{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 7px;
            background: -webkit-repeating-linear-gradient(-45deg, $gray, $gray 2px, #fff 2px, #fff 4px);
            background: repeating-linear-gradient(-45deg, $gray, $gray 2px, #fff 2px, #fff 4px);
        }
    }
}




//id 日付　コメント内容　場所

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}
/* Larger than desktop */
@media (min-width: 1000px) {
	 .top-menu{
        //display: none;
    }
    nav.navbar{
        display: block;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	
}